/* Bike Shop CSS
==================================================
================================================== */

/* Font Styles */
html { font-size: 62.5%; }
body {
    font: 1.6rem/1.25 "Program OT", Arial, sans-serif;
    background: #ffffff;
    color: #888888;
}
h1, h2, h3, h4 {
    text-transform: uppercase;
}
del {
    text-decoration: line-through;
}
p {
    color: #666666;
    margin-bottom: .5rem;
}
p strong {
    font-weight: bold;
}
a{
    color: #666666;
}
h2 {
    line-height: 1;
    font-size: 2.6rem;
    margin-bottom: 2rem;
    color: #111111;
}
h3 {
    line-height: 1;
    margin-bottom: .5rem;
    font-size: 1.9rem;
    color: #444444;
}
h3 strong{
    font-weight: bold;
}
h4 {
    font-size: 1.6rem;
    color: #111111;
}
h2 strong {
    font-size: 3.6rem;
    display: block;
    color: #111111;
}
strong {
    font-weight: 700;
}

/* Page structure */
.wrapper{
    max-width: 1000px;
    padding: 2rem;
    margin: 0 auto;
    border: 4px solid red;
}

.wrapper::after {
    content: "";
    display: block;
    clear: both;
}

/* Header  */
header {
    position: relative;
    padding: 27rem;
    background: url("../images/banner.jpg") center/100% 110% no-repeat;

}
#condensed{
    padding: 20rem;
}
header h1 {
    position: absolute;
    left: 10rem;
    top: 10rem;
}
header h2 {
    position: absolute;
    bottom: 0;
}
/* Navigation ==================== */
#styling{
    width: 100%;
    height: .5rem;
    position: absolute;
    background: #c0392b;
}
nav {
    width: 100%;
    background: #444444;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
nav li {
    display: inline-block;
}
nav a {
    display: block;
    padding: 1rem 2rem;
    color: #ffffff;
}
nav button{
    padding: 2rem;
    position: absolute;
    top: 0;
    color: #ffffff;
    background-color: #c0392b;
}


/* Index Page =========== */
/* Categories  */
#categories {
    background: #111111;
    color: #ffffff;
    text-align: center;
}
#bikesbackground{
    background: url("../images/bikes.jpg") center/100% no-repeat;
}
#accbackground{
    background: url("../images/speedometer.jpg") center/100% no-repeat;
}
#apperalbackground{
    background: url("../images/backpack.jpg") center/100% no-repeat;
}
#categories li {
    width: calc(100%/3 - 2rem/3);
    float: left;
    padding: 4rem 0;
}
#categories li:not(:nth-of-type(3n)) {
    margin-right: 1rem;
}
#categories h3 {
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    background: rgba(0,0,0,.6);
    color: #ffffff;
}
#categories a {
    display: inline-block;
    padding: .7rem;
    background: #c0392b;
    color: #ffffff;
}

/* Products  */
#featured article {
    width: calc(25% - 6rem / 4);
    min-height: 40rem;
    max-height: 40rem;
    float: left;
    margin-bottom: 2rem;
    border: solid .1rem;
    position: relative;
    overflow: hidden;
}
#featured button {
    text-align: left;
    color: #ffffff;
    position: absolute;
    padding: .5rem;
    left: 0;
    top: 12rem;
    width: 100%;
    background: rgba(0,0,0,.6);
}

#featured p, #featured h3{
    padding: 1rem;
}
#featured img{
    text-align: center;
    width: calc(100%);
    height: 15rem;
}
#featured article:not(:nth-of-type(4n)) {
    margin-right: 2rem;
}
del::before {
    content: "Sale";
    display: block;
    padding: .5rem 1rem .5rem 2rem;
    background: #c0392b;
    color: white;
    position: absolute;
    top: 2rem;
    left: -1rem;
    transform: skew(-10deg);
}

/* Members  */

#members{
    text-align: center;
    background: url("../images/gears.jpg") no-repeat center/ 100% 100%;

}
#membersdesign{
    background-color: rgba(0,0,0,.7);
    z-index: 2;
}
#members strong, #members h3{
    color: #ffffff;
}
#members h2{
    color: #666666;
}
#members p{
    line-height: 2;
}
#members ul{
    position: relative;
}
#members li{
    width: calc(100%/3 - 3rem);
    height: 25rem;
    margin: 1.5rem;
    color: #666666;
    float: left;
    position: relative;
    padding-top: 15rem;
}
#members li::before{
    content: url("../images/truck.png");
    border: #ffffff solid;
    opacity: .5;
    position: absolute;
    top: -1rem;
    left: 8.5rem;
}
#members li:nth-of-type(2)::before {
    content: url("../images/wrench.png");

}
#members li:nth-of-type(3)::before {
    content: url("../images/envelope.png");
}
#members #submit{
    margin: 0;
    line-height: 1.6;
    padding: .3rem;
    color: #ffffff;
    background-color: #c0392b;
    display: inline-block;
    width: 25%;
}
#members #email{
    width: 70%;
    float: left;
}
#members form{
    width: 100%;
}
#members label{
    display: none;
}


/* Footer */
footer {
    padding: 1em;
    background-color: #111111;
}
footer li a {
    color: #666666;
}
footer li {
    color: #666666;
    padding: .5rem;
}
footer h3 {
    color: #DDDDDD;
}
footer ul strong > a {
     color: #DDDDDD;
 }
footer .wrapper > ul {
    max-width: 100%;
    padding: 2rem;
    float: left;
}
footer .wrapper aside {
    width: 25%;
    text-align: right;
    float: right;
}
footer aside ul > li {
    display: inline-block;
}
/* Legal Text */
footer section p {
    max-width: 100%;
    color: #666666;
    float: left;
}
footer section {
    width: 100%;
    border-top: .1rem solid #666666 ;
    padding: 1rem;
    float: left;
}
footer section ul {
    max-width: 100%;
    float: right;
}
footer section li {
    display: inline-block;
}


/* Shop page ============ */

#collection {
    display: inline-block;
    text-align: left;
    padding-left: 2rem;
    float: left;
    width: 20%;
}
#collection h3, #collection li{
    padding: .7rem;
}
#shop {
    display: inline-block;
    width: 80%;
}

/* Form heading for products */
#shop form {
    background-color: lightgrey;
    margin: 2rem 0;
}
#shop form button{
    display: inline-block;
}
#shop form p{
    display: inline-block;
}
#shop form p:not(:first-of-type){
    float: right;
}
#shop > p {
    line-height: 5;
}
#shop form > * {
margin: 1rem;
}

#products {
    padding: 1rem;
}
#products article {
    width: calc(100% / 3 - 6rem/3);
    min-height: 22em;
    float: left;
    margin-bottom: 2rem;
    background-color: lightgrey;
    position: relative;
    overflow: hidden;
}
#products img{
    text-align: center;
    width: calc(100%);
    height: 22rem;
}
#products > article {
    text-align: center;
}
#products article:not(:nth-of-type(3n)) {
    margin-right: 3rem;
}

/* Club Events Page ================= */
/* Events */
#events article {
    width: 100%;
    float: left;
    margin-bottom: 3rem;
    display: inline-block;
}
#events p{
    padding: 1rem 0;
}
#events a{
    color: #c0392b;
}
#events article::before {
    float: left;
    content: "";
    width: 60rem;
    height: 35rem;
    background:  url("../images/backpack.jpg");;
    display: inline-block;
    margin: 2rem 2rem 2rem 4rem;
}
#events article:nth-of-type(2n)::before {
    float: right;
    margin: 2rem 4rem 2rem 2rem;
}

/* Blog ================= */
/* Recent Posts */

#blogcategory {
    display: inline-block;
    padding-left: 1rem;
    width: calc(25%);
}
#blogcategory ul:first-of-type li{
    border-bottom: solid #666666 .1rem;
    padding: 1rem 0;
}
#blogcategory h3{
    margin: 1rem 0;
}

#recentposts a{
    color: #c0392b;
}

#recentposts img{
    width: 100%;
    height: 15rem;
}

#posts {
    line-height: 2rem;
    display: inline-block;
    float: left;
    padding: 1rem;
    width: calc(75% - 1rem);
}
#posts a{
    background-color: #c0392b;
    color: #ffffff;
    padding: .7rem 1rem;
    border-radius: 3rem;
}
#posts p{
    padding: 2rem 0;
}
#posts img{
    width: 100%;
    height: 40rem;
    padding: 1rem 0;
}
#posts article{
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}
#posts article:not(:last-of-type){
    border-bottom: solid #666666 .1rem;
}

/* Contact ================= */
/* Recent Posts */
#contact {
    display: inline-block;
    text-align: left;
    width: 50%;
    float: left;
}
#contact p{
    padding: 5rem 0;
}
#contactmessage {
    display: inline-block;
    width: 50%;
}

iframe{
    width: 100%;
}
