/* Bike Shop CSS
==================================================
================================================== */

/* Font Styles */
html { font-size: 62.5%; }
body {
    font: 1.6rem/1.25 "Program OT", Arial, sans-serif;
    background: #ffffff;
    color: #888888;
}
h1, h2, h3, h4 {
    text-transform: uppercase;
}
p{
    color: #666666;
    margin-bottom: .5rem;
}
h2 {
    line-height: 1;
    font-size: 2.6rem;
    margin-bottom: 2rem;
    color: #111111;
}
h3 {
    line-height: 1;
    margin-bottom: .5rem;
    font-size: 1.9rem;
    color: #444444;
}
h4 {
    font-size: 1.6rem;
    color: #111111;
}
h2 strong {
    font-size: 3.6rem;
    display: block;
    color: #111111;
}
strong {
    font-weight: 700;
}

/* Page structure */
.wrapper{
    max-width: 900px;
    padding: 3rem;
    margin: 0 auto;
    border: 4px solid red;
}

.wrapper::after {
    content: "";
    display: block;
    clear: both;
}

/* Header  */

/* Index Page =========== */
/* Categories  */
#categories {
    background: #111111;
    color: #ffffff;
    text-align: center;
}
#categories li {
    width: calc(100%/3 - 2rem/3);
    float: left;
    padding: 4rem 0;
    background: green;
}
#categories li:not(:nth-of-type(3n)) {
    margin-right: 1rem;
}
#categories h3 {
    padding: 1rem 0;
    margin-bottom: 1rem;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
}
#categories a {
    display: inline-block;
    padding: 1rem;
    background: red;
    color: #ffffff;
}
/* Products  */
#featured article {
    width: calc(25% - 6rem / 4);
    min-height: 20.5em;
    float: left;
    padding: 1rem;
    margin-bottom: 2rem;
    background: rgba(0,0,0,0.05);
}
#featured article:not(:nth-of-type(4n)) {
    margin-right: 2rem;
}

/* Members  */
#members h2{
    text-align: center;
}
#members li{
    width: 30%;
    margin: 1.5rem;
    float: left;
    border: solid blue;
}
#members::after {
    content: "";
    display: block;
    clear: both;
}

/* Footer */
footer {
    padding: 1em;
    background-color: #111111;
}
footer .wrapper li a {
    color: #666666;
}
footer .wrapper h3 {
    color: #DDDDDD;
}
footer .wrapper ul strong > a {
     color: #DDDDDD;
 }
footer .wrapper > ul {
    max-width: 100%;
    padding: 1rem;
    float: left;
    border: solid blue;
}
footer .wrapper aside {
    max-width: 100%;
    text-align: right;
    float: right;
    border: solid blue;
}
footer .wrapper aside ul > li {
    display: inline-block;
}
/* Legal Text */
footer .wrapper section p {
    max-width: 100%;
    color: #666666;
    float: left;
    border: solid blue;
}
footer .wrapper section {
    width: 100%;
    padding: 1rem;
    float: left;
    border: solid blue;
}
footer .wrapper section ul {
    max-width: 100%;
    float: right;
    border: solid blue;
}
footer .wrapper section li {
    display: inline-block;
}
footer .wrapper::after {
    content: "";
    display: block;
    clear: both;
}

/* Shop page ============ */

#collection {
    display: inline-block;
    margin: 2rem 5rem;
    text-align: left;
}

#collection::after {
    content: "";
    display: block;
    clear: both;
}
#shop {
    display: inline-block;
    max-width: 70%;
}

/* Form heading for products */
#shop form {
    background-color: lightgrey;
    border: solid red;
}
#shop form button{
    display: inline-block;
}
#shop form p{
    display: inline-block;
}
#shop form p:not(:first-of-type){
    float: right;
}
#shop > p {
    line-height: 5;
}
#shop form > * {
margin: 1rem;
}

#products {
    padding: 1rem;
}
#products article {
    width: calc(100% / 3 - 2rem);
    min-height: 20em;
    float: left;
    margin-bottom: 2rem;
    background-color: lightgrey;
}
#products > article {
    text-align: center;
}
#products article:not(:nth-of-type(3n)) {
    margin-right: 3rem;
}

#products::after {
    content: "";
    display: block;
    clear: both;
}

/* Club Events Page ================= */
/* Events */
#events article {
    width: calc(100%);
    float: left;
    display: inline-block;
    padding: 2rem;
    margin: 0;
}
#events::after {
    content: "";
    display: block;
    clear: both;
}
#events article::before {
    float: left;
    width: 20rem;
    height: 20rem;
    margin-right: 5rem;
    content: "";
    background-color: black;
    display: inline-block;
}
#events article:nth-of-type(2n)::before {
    float: right;
    margin-right: 0;
    margin-left: 5rem;
}

/* Blog ================= */
/* Recent Posts */

#blogcategory {
    display: inline-block;
    padding: 1rem;
    text-align: right;
    max-width: calc(25% - 1rem);
}

#blogcategory::after {
    content: "";
    display: block;
    clear: both;
}

#posts {
    display: inline-block;
    float: left;
    max-width: calc(75% - 3rem);
}
#posts article{
    padding-bottom: 3rem;
}

#posts::after {
    content: "";
    display: block;
    clear: both;
}

/* Contact ================= */
/* Recent Posts */
#contact {
    display: inline-block;
    width: 50%;
    float: left;
}
#contact::after {
    content: "";
    display: block;
    clear: both;
}
#contactmessage {
    display: inline-block;
    width: 50%;
}
#contactmessage::after {
    content: "";
    display: block;
    clear: both;
}